<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container" style="text-align: center;margin: 0 auto;background: #3596F5;font-family: 'Ephesis', cursive;color:#FFFFFF;font-size: 30px;width: 1050px;padding-bottom: 30px;">
    <img class="logo" style="margin-top: 30px;" src="logo.png" alt="logo">
    <p style="color:#FFFFFF">Congratulations on the purchase of apartment No. 120 in the residential complex "Melody"<br>
        We will contact you in the near future to clarify the information and paperwork.<br>
        When the documents are ready, the documents for the apartment and the keys will be delivered to you.</p>
    <div class="div-seal" style="display: flex;justify-content: space-evenly;align-items: center;">
        <p style="color:#FFFFFF">Best regards, founder of the company "Melody Limited Co"<br></p>
        <img src="seal.png" alt="seal">
    </div>
</div>
</body>
</html>